{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>Добавление акции в список</h1>

    <select class="js-data-ajax form-control">
      <option value="0" selected="selected">Введите название</option>
    </select>

    {{ form(form) }}
    <br>
    <input type='button' id='submit_form' class='btn btn-success' disabled='disabled' value='Добавить'/>

    <script>
        var
            url     = "{{ url('homepage') }}";
    </script>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('/bundles/app/vendor/jquery/dist/jquery.js') }}"></script>

    <link type="text/css" rel="stylesheet" media="all" href="{{ asset('/bundles/app/vendor/select2/dist/css/select2.min.css') }}">
    <script src="{{ asset('/bundles/app/vendor/select2/dist/js/select2.min.js') }}"></script>

    <script src="{{ asset('/bundles/app/js/new-share.js') }}"></script>
{% endblock %}
